var Pulsar = Pulsar || {};

$(function() {
	Pulsar.Floorplan.init();
    var front_switch_rack_path = '<%= asset_path 'texture_switch_front_120.jpg' %>';
    var back_switch_rack_path = '<%= asset_path 'texture_switch_back_120.jpg' %>';
    var front_server_rack_path = '<%= asset_path 'texture_nec_front_160.png' %>';
    var back_server_rack_path = '<%= asset_path 'texture_nec_back_160.jpg' %>';
    var clima_top_path = '<%= asset_path 'texture_clima_top_120.png' %>';
    var clima_front_path = '<%= asset_path 'texture_clima_front_480.png' %>';
    var clima_floor_tile_path = '<%= asset_path 'texture_clima_floor_tile_120.png' %>';

    var sampleJSON = {boxes: [
        {name: 'Switch rack 1', pos: {x: 120, y: 0, z: 120}, dim: {x: 60.0, y: 201.3, z: 100.0}, textures: {front: front_switch_rack_path, back: back_switch_rack_path}},
        {name: 'Server rack 1', pos: {x: 230, y: 0, z: 120}, dim: {x: 80.0, y: 201.3, z: 100.0}, textures: {front: front_server_rack_path, back: back_server_rack_path}},
        {name: 'Server rack 2', pos: {x: 350, y: 0, z: 120}, dim: {x: 80.0, y: 201.3, z: 100.0}, textures: {front: front_server_rack_path, back: back_server_rack_path}},
        {name: 'Switch rack 2', pos: {x: 120, y: 0, z: 360}, dim: {x: 60.0, y: 201.3, z: 100.0}, textures: {front: front_switch_rack_path, back: back_switch_rack_path}},
        {name: 'Server rack 3', pos: {x: 230, y: 0, z: 360}, dim: {x: 80.0, y: 201.3, z: 100.0}, textures: {front: front_server_rack_path, back: back_server_rack_path}},
        {name: 'Server rack 4', pos: {x: 350, y: 0, z: 360}, dim: {x: 80.0, y: 201.3, z: 100.0}, textures: {front: front_server_rack_path, back: back_server_rack_path}},
        {name: 'Clima', pos: {x: 180, y: 0, z: 0}, dim: {x: 240.0, y: 201.3, z: 60.0}, textures: {front: clima_front_path, back: back_server_rack_path, top: clima_top_path}},
        {name: 'Clima tile 1', pos: {x: 120, y: 0, z: 240}, dim: {x: 60.0, y: 1.0, z: 60.0}, textures: {top: clima_floor_tile_path}},
        {name: 'Clima tile 2', pos: {x: 240, y: 0, z: 240}, dim: {x: 60.0, y: 1.0, z: 60.0}, textures: {top: clima_floor_tile_path}},
        {name: 'Clima tile 3', pos: {x: 360, y: 0, z: 240}, dim: {x: 60.0, y: 1.0, z: 60.0}, textures: {top: clima_floor_tile_path}},
        {name: 'Clima tile 4', pos: {x: 120, y: 0, z: 480}, dim: {x: 60.0, y: 1.0, z: 60.0}, textures: {top: clima_floor_tile_path}},
        {name: 'Clima tile 5', pos: {x: 240, y: 0, z: 480}, dim: {x: 60.0, y: 1.0, z: 60.0}, textures: {top: clima_floor_tile_path}},
        {name: 'Clima tile 6', pos: {x: 360, y: 0, z: 480}, dim: {x: 60.0, y: 1.0, z: 60.0}, textures: {top: clima_floor_tile_path}}
    ]};
	Pulsar.Floorplan.addBoxesFromJSON(sampleJSON);
	Pulsar.Floorplan.render();
	setTimeout(Pulsar.Floorplan.render, 100);
});

Pulsar.Floorplan = function() {
	if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

	var container, info;
	var camera, scene, renderer, controls;
	var plane, intersected;
	var mouse, raycaster;

    var radious = 1600, theta = -90, phi = 90,
        gridCellSize = 60, gridLines = 10;
    var gridDimension = gridLines * gridCellSize / 2;

	var cubeGeo, cubeMaterial;

	var objects = [];

    // spline test
    var heatflow = function() {
        var spline, particles = [];

        /**
         *
         * @param size
         * @param speed from 1 to 1000
         * @param spline to follow while moving
         * @returns heatParticle object
         */
        function makeHeatParticle(size, speed, spline) {
            // #030FE6 dark blue
            // #02FCFB light blue
            // #02FCFB middle green
            // #F1FF02 yellow
            // #F30000 red

            var tangent = new THREE.Vector3();
            var axis = new THREE.Vector3();
            var up = new THREE.Vector3(0, 1, 0);
            var increment = speed/1000.0;
            var counter = 2 * increment, heatParticle = {};
            heatParticle.spline = spline;
            //heatParticle.geometry = new THREE.BoxGeometry(size.x, size.y, size.z);
            // API: THREE.CylinderGeometry(bottomRadius, topRadius, height, segmentsRadius, segmentsHeight)
            heatParticle.geometry = new THREE.CylinderGeometry(0, 5, 10, 4, 4, false);

            heatParticle.material = new THREE.MeshBasicMaterial({
                visible: false
            });

            heatParticle.mesh = new THREE.Mesh(heatParticle.geometry, heatParticle.material);
            heatParticle.move = function () {
                if (counter <= 1) {
                    var rgb = Pulsar.Color.gradientPointColor(counter, heatParticle.spline.color.start, heatParticle.spline.color.end);

                    heatParticle.mesh.material =  new THREE.MeshBasicMaterial({
                        color: Pulsar.Color.rgbToHex(rgb),
                        opacity: 0.5,
                        transparent: true
                    });
                    //heatParticle.mesh.material.color.setRGB(rgb.r, rgb.g, rgb.b);
                    //heatParticle.mesh.material.color = Pulsar.Color.rgbToHex(rgb);
                    //heatParticle.material.color.setRGB(rgb.r, rgb.g, rgb.b);
                    heatParticle.mesh.position.copy(heatParticle.spline.spline.getPointAt(counter));
                    tangent = heatParticle.spline.spline.getTangentAt(counter).normalize();
                    axis.crossVectors(up, tangent).normalize();
                    var radians = Math.acos(up.dot(tangent));
                    heatParticle.mesh.quaternion.setFromAxisAngle(axis, radians);
                    counter += increment;
                } else {
                    heatParticle.spline.particlesReachedEnd = true;
                    counter = 2 * increment;
                }
            };
            particles.push(heatParticle);
            return heatParticle;
        }

        function makeSpline(points, startColor, endColor) {
            var thisSpline = {};
            thisSpline.particlesReachedEnd = false;
            thisSpline.numPoints = 50;
            thisSpline.color = {start: Pulsar.Color.hexToRgb(startColor), end: Pulsar.Color.hexToRgb(endColor)};

            thisSpline.spline = new THREE.SplineCurve3(points);

            thisSpline.material = new THREE.LineBasicMaterial({
                visible: false
            });

            thisSpline.geometry = new THREE.Geometry();
            thisSpline.splinePoints = thisSpline.spline.getPoints(thisSpline.numPoints);

            for (var i = 0; i < thisSpline.splinePoints.length; i++) {
                thisSpline.geometry.vertices.push(thisSpline.splinePoints[i]);
            }
            thisSpline.line = new THREE.Line(thisSpline.geometry, thisSpline.material);
            return thisSpline;
        }

        var that = {
            init: function () {
                // from floor tiles to racks / switches
                var coldAirSpeed = 20;
                $.each([
                    [[-50, -55, -90], [-30, -40, -95], [-10, -30, -100]],
                    [[190, 185, 150], [210, 200, 145], [230, 210, 140]]], function(idxZ, zValues) { // z axis
                    $.each([110, 90, 70, -10, -30, -50, -130, -150, -170], function(idxX, xValue) { // x axis
                        that.addLine([
                            new THREE.Vector3(xValue, 0, zValues[0][0]),
                            new THREE.Vector3(xValue, 80, zValues[0][1]),
                            new THREE.Vector3(xValue, 100, zValues[0][2])
                        ], '#02FCFB', '#030FE6', coldAirSpeed);
                        that.addLine([
                            new THREE.Vector3(xValue, 0, zValues[1][0]),
                            new THREE.Vector3(xValue, 100, zValues[1][1]),
                            new THREE.Vector3(xValue, 120, zValues[1][2])
                        ], '#02FCFB', '#030FE6', coldAirSpeed);
                        that.addLine([
                            new THREE.Vector3(xValue, 0, zValues[2][0]),
                            new THREE.Vector3(xValue, 120, zValues[2][1]),
                            new THREE.Vector3(xValue, 140, zValues[2][2])
                        ], '#02FCFB', '#030FE6', coldAirSpeed);
                    });
                });

                var hotAirSpeed = 15;
                // from racks / switches to clima
                that.addLine([
                    new THREE.Vector3(-170, 120, -170),
                    new THREE.Vector3(-170, 120, -200),
                    new THREE.Vector3(-120, 215, -230),
                    new THREE.Vector3(-100, 201, -250)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-170, 140, -170),
                    new THREE.Vector3(-170, 140, -200),
                    new THREE.Vector3(-120, 220, -240),
                    new THREE.Vector3(-100, 201, -270)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-170, 160, -170),
                    new THREE.Vector3(-170, 160, -200),
                    new THREE.Vector3(-120, 225, -250),
                    new THREE.Vector3(-100, 201, -290)
                ], '#F1FF02', '#F30000', hotAirSpeed);

                that.addLine([
                    new THREE.Vector3(-150, 120, -170),
                    new THREE.Vector3(-150, 120, -200),
                    new THREE.Vector3(-90, 215, -230),
                    new THREE.Vector3(-75, 201, -250)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-150, 140, -170),
                    new THREE.Vector3(-150, 140, -200),
                    new THREE.Vector3(-90, 220, -240),
                    new THREE.Vector3(-75, 201, -270)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-150, 160, -170),
                    new THREE.Vector3(-150, 160, -200),
                    new THREE.Vector3(-90, 225, -250),
                    new THREE.Vector3(-75, 201, -290)
                ], '#F1FF02', '#F30000', hotAirSpeed);

                that.addLine([
                    new THREE.Vector3(-130, 120, -170),
                    new THREE.Vector3(-130, 120, -200),
                    new THREE.Vector3(-60, 215, -230),
                    new THREE.Vector3(-50, 201, -250)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-130, 140, -170),
                    new THREE.Vector3(-130, 140, -200),
                    new THREE.Vector3(-60, 220, -240),
                    new THREE.Vector3(-50, 201, -270)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-130, 160, -170),
                    new THREE.Vector3(-130, 160, -200),
                    new THREE.Vector3(-60, 225, -250),
                    new THREE.Vector3(-50, 201, -290)
                ], '#F1FF02', '#F30000', hotAirSpeed);

                // --- rack 2 ---
                that.addLine([
                    new THREE.Vector3(-50, 120, -170),
                    new THREE.Vector3(-50, 120, -200),
                    new THREE.Vector3(-37, 215, -230),
                    new THREE.Vector3(-25, 201, -250)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-50, 140, -170),
                    new THREE.Vector3(-50, 140, -200),
                    new THREE.Vector3(-37, 220, -240),
                    new THREE.Vector3(-25, 201, -270)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-50, 160, -170),
                    new THREE.Vector3(-50, 160, -200),
                    new THREE.Vector3(-37, 225, -250),
                    new THREE.Vector3(-25, 201, -290)
                ], '#F1FF02', '#F30000', hotAirSpeed);

                that.addLine([
                    new THREE.Vector3(-30, 120, -170),
                    new THREE.Vector3(-30, 120, -200),
                    new THREE.Vector3(-15, 215, -230),
                    new THREE.Vector3(0, 201, -250)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-30, 140, -170),
                    new THREE.Vector3(-30, 140, -200),
                    new THREE.Vector3(-15, 220, -240),
                    new THREE.Vector3(0, 201, -270)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-30, 160, -170),
                    new THREE.Vector3(-30, 160, -200),
                    new THREE.Vector3(-15, 225, -250),
                    new THREE.Vector3(0, 201, -290)
                ], '#F1FF02', '#F30000', hotAirSpeed);

                that.addLine([
                    new THREE.Vector3(-10, 120, -170),
                    new THREE.Vector3(-10, 120, -200),
                    new THREE.Vector3(10, 215, -230),
                    new THREE.Vector3(25, 201, -250)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-10, 140, -170),
                    new THREE.Vector3(-10, 140, -200),
                    new THREE.Vector3(10, 220, -240),
                    new THREE.Vector3(25, 201, -270)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-10, 160, -170),
                    new THREE.Vector3(-10, 160, -200),
                    new THREE.Vector3(10, 225, -250),
                    new THREE.Vector3(25, 201, -290)
                ], '#F1FF02', '#F30000', hotAirSpeed);

                // rack 3
                that.addLine([
                    new THREE.Vector3(70, 120, -170),
                    new THREE.Vector3(70, 120, -200),
                    new THREE.Vector3(60, 215, -230),
                    new THREE.Vector3(50, 201, -250)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(70, 140, -170),
                    new THREE.Vector3(70, 140, -200),
                    new THREE.Vector3(60, 220, -240),
                    new THREE.Vector3(50, 201, -270)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(70, 160, -170),
                    new THREE.Vector3(70, 160, -200),
                    new THREE.Vector3(60, 225, -250),
                    new THREE.Vector3(50, 201, -290)
                ], '#F1FF02', '#F30000', hotAirSpeed);

                that.addLine([
                    new THREE.Vector3(90, 120, -170),
                    new THREE.Vector3(90, 120, -200),
                    new THREE.Vector3(80, 215, -230),
                    new THREE.Vector3(75, 201, -250)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(90, 140, -170),
                    new THREE.Vector3(90, 140, -200),
                    new THREE.Vector3(80, 220, -240),
                    new THREE.Vector3(75, 201, -270)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(90, 160, -170),
                    new THREE.Vector3(90, 160, -200),
                    new THREE.Vector3(80, 225, -250),
                    new THREE.Vector3(75, 201, -290)
                ], '#F1FF02', '#F30000', hotAirSpeed);

                that.addLine([
                    new THREE.Vector3(110, 120, -170),
                    new THREE.Vector3(110, 120, -200),
                    new THREE.Vector3(105, 215, -230),
                    new THREE.Vector3(100, 201, -250)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(110, 140, -170),
                    new THREE.Vector3(110, 140, -200),
                    new THREE.Vector3(105, 220, -240),
                    new THREE.Vector3(100, 201, -270)
                ], '#F1FF02', '#F30000', hotAirSpeed);
                that.addLine([
                    new THREE.Vector3(110, 160, -170),
                    new THREE.Vector3(110, 160, -200),
                    new THREE.Vector3(105, 225, -250),
                    new THREE.Vector3(100, 201, -290)
                ], '#F1FF02', '#F30000', hotAirSpeed);

                // ================= second row =====================
                var secondRowHotAirSpeed = 8;
                that.addLine([
                    new THREE.Vector3(-170, 120, 70),
                    new THREE.Vector3(-170, 120, 50),
                    new THREE.Vector3(-170, 210, 0),
                    new THREE.Vector3(-120, 215, -230),
                    new THREE.Vector3(-100, 201, -250)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-170, 140, 70),
                    new THREE.Vector3(-170, 140, 50),
                    new THREE.Vector3(-170, 215, 0),
                    new THREE.Vector3(-120, 220, -240),
                    new THREE.Vector3(-100, 201, -270)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-170, 160, 70),
                    new THREE.Vector3(-170, 160, 50),
                    new THREE.Vector3(-170, 220, 0),
                    new THREE.Vector3(-120, 225, -250),
                    new THREE.Vector3(-100, 201, -290)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);

                that.addLine([
                    new THREE.Vector3(-150, 120, 70),
                    new THREE.Vector3(-150, 120, 50),
                    new THREE.Vector3(-150, 210, 0),
                    new THREE.Vector3(-90, 215, -230),
                    new THREE.Vector3(-75, 201, -250)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-150, 140, 70),
                    new THREE.Vector3(-150, 140, 50),
                    new THREE.Vector3(-150, 215, 0),
                    new THREE.Vector3(-90, 220, -240),
                    new THREE.Vector3(-75, 201, -270)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-150, 160, 70),
                    new THREE.Vector3(-150, 160, 50),
                    new THREE.Vector3(-150, 220, 0),
                    new THREE.Vector3(-90, 225, -250),
                    new THREE.Vector3(-75, 201, -290)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);

                that.addLine([
                    new THREE.Vector3(-130, 120, 70),
                    new THREE.Vector3(-130, 120, 50),
                    new THREE.Vector3(-130, 210, 0),
                    new THREE.Vector3(-60, 215, -230),
                    new THREE.Vector3(-50, 201, -250)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-130, 140, 70),
                    new THREE.Vector3(-130, 140, 50),
                    new THREE.Vector3(-130, 215, 0),
                    new THREE.Vector3(-60, 220, -240),
                    new THREE.Vector3(-50, 201, -270)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-130, 160, 70),
                    new THREE.Vector3(-130, 160, 50),
                    new THREE.Vector3(-130, 220, 0),
                    new THREE.Vector3(-60, 225, -250),
                    new THREE.Vector3(-50, 201, -290)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);

                // --- rack 2 ---
                that.addLine([
                    new THREE.Vector3(-50, 120, 70),
                    new THREE.Vector3(-50, 120, 50),
                    new THREE.Vector3(-50, 210, 0),
                    new THREE.Vector3(-37, 215, -230),
                    new THREE.Vector3(-25, 201, -250)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-50, 140, 70),
                    new THREE.Vector3(-50, 140, 50),
                    new THREE.Vector3(-50, 215, 0),
                    new THREE.Vector3(-37, 220, -240),
                    new THREE.Vector3(-25, 201, -270)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-50, 160, 70),
                    new THREE.Vector3(-50, 160, 50),
                    new THREE.Vector3(-50, 220, 0),
                    new THREE.Vector3(-37, 225, -250),
                    new THREE.Vector3(-25, 201, -290)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);

                that.addLine([
                    new THREE.Vector3(-30, 120, 70),
                    new THREE.Vector3(-30, 120, 50),
                    new THREE.Vector3(-30, 210, 0),
                    new THREE.Vector3(-15, 215, -230),
                    new THREE.Vector3(0, 201, -250)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-30, 140, 70),
                    new THREE.Vector3(-30, 140, 50),
                    new THREE.Vector3(-30, 215, 0),
                    new THREE.Vector3(-15, 220, -240),
                    new THREE.Vector3(0, 201, -270)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-30, 160, 70),
                    new THREE.Vector3(-30, 160, 50),
                    new THREE.Vector3(-30, 220, 0),
                    new THREE.Vector3(-15, 225, -250),
                    new THREE.Vector3(0, 201, -290)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);

                that.addLine([
                    new THREE.Vector3(-10, 120, 70),
                    new THREE.Vector3(-10, 120, 50),
                    new THREE.Vector3(-10, 210, 0),
                    new THREE.Vector3(10, 215, -230),
                    new THREE.Vector3(25, 201, -250)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-10, 140, 70),
                    new THREE.Vector3(-10, 140, 50),
                    new THREE.Vector3(-10, 215, 0),
                    new THREE.Vector3(10, 220, -240),
                    new THREE.Vector3(25, 201, -270)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(-10, 160, 70),
                    new THREE.Vector3(-10, 160, 50),
                    new THREE.Vector3(-10, 220, 0),
                    new THREE.Vector3(10, 225, -250),
                    new THREE.Vector3(25, 201, -290)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);

                // rack 3
                that.addLine([
                    new THREE.Vector3(70, 120, 70),
                    new THREE.Vector3(70, 120, 50),
                    new THREE.Vector3(70, 210, 0),
                    new THREE.Vector3(60, 215, -230),
                    new THREE.Vector3(50, 201, -250)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(70, 140, 70),
                    new THREE.Vector3(70, 140, 50),
                    new THREE.Vector3(70, 215, 0),
                    new THREE.Vector3(60, 220, -240),
                    new THREE.Vector3(50, 201, -270)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(70, 160, 70),
                    new THREE.Vector3(70, 160, 50),
                    new THREE.Vector3(70, 220, 0),
                    new THREE.Vector3(60, 225, -250),
                    new THREE.Vector3(50, 201, -290)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);

                that.addLine([
                    new THREE.Vector3(90, 120, 70),
                    new THREE.Vector3(90, 120, 50),
                    new THREE.Vector3(90, 210, 0),
                    new THREE.Vector3(80, 215, -230),
                    new THREE.Vector3(75, 201, -250)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(90, 140, 70),
                    new THREE.Vector3(90, 140, 50),
                    new THREE.Vector3(90, 215, 0),
                    new THREE.Vector3(80, 220, -240),
                    new THREE.Vector3(75, 201, -270)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(90, 160, 70),
                    new THREE.Vector3(90, 160, 50),
                    new THREE.Vector3(90, 220, 0),
                    new THREE.Vector3(80, 225, -250),
                    new THREE.Vector3(75, 201, -290)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);

                that.addLine([
                    new THREE.Vector3(110, 120, 70),
                    new THREE.Vector3(110, 120, 50),
                    new THREE.Vector3(110, 210, 0),
                    new THREE.Vector3(105, 215, -230),
                    new THREE.Vector3(100, 201, -250)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(110, 140, 70),
                    new THREE.Vector3(110, 140, 50),
                    new THREE.Vector3(110, 215, 0),
                    new THREE.Vector3(105, 220, -240),
                    new THREE.Vector3(100, 201, -270)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);
                that.addLine([
                    new THREE.Vector3(110, 160, 70),
                    new THREE.Vector3(110, 160, 50),
                    new THREE.Vector3(110, 220, 0),
                    new THREE.Vector3(105, 225, -250),
                    new THREE.Vector3(100, 201, -290)
                ], '#F1FF02', '#F30000', secondRowHotAirSpeed);


                that.animate();
                setInterval(that.moveParticles, 40);
            },
            addLine: function(points, startColor, endColor, speed) {
                var line = makeSpline(points, startColor, endColor);
                scene.add(line.line);

                var boxIntervalId = setInterval(function() {
                    if (line.particlesReachedEnd) {
                        clearInterval(boxIntervalId);
                    } else {
                        that.addHeatParticle(line, speed);
                    }
                }, 800);
            },
            addHeatParticle: function(line, speed) {
                var particle = makeHeatParticle({x:5,y:5,z:5}, speed, line);
                scene.add(particle.mesh);
            },
            moveParticles: function() {
                $.each(particles, function() {
                    this.move();
                });
            },
            animate: function() {
                requestAnimationFrame(that.animate);
                render();
            }
        };
        return that;
    }();

    function init() {
		container = document.createElement( 'div' );
		document.body.appendChild( container );

        info = document.createElement( 'div' );
        info.style.position = 'absolute';
        info.style.top = '10px';
        info.style.width = '100%';
        info.style.textAlign = 'center';
        container.appendChild( info );

        // camera
        camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 10000 );
        camera.position.x = radious * Math.sin( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 ); //515;
        camera.position.y = radious * Math.sin( phi * Math.PI / 360 ); //850;
        camera.position.z = radious * Math.cos( theta * Math.PI / 360 ) * Math.cos( phi * Math.PI / 360 ); //-515;
        camera.lookAt(new THREE.Vector3 (0.0, 50.0, 0.0));
        camera.updateProjectionMatrix();

        // controls
        controls = new THREE.OrbitControls( camera );
        controls.damping = 0.2;
        controls.minPolarAngle = 0;
        controls.maxPolarAngle = Math.PI/2;
        controls.addEventListener( 'change', render );

		scene = new THREE.Scene();

		// grid
		var geometry = new THREE.Geometry();
		for ( var i = - gridDimension; i <= gridDimension; i += gridCellSize ) {
			geometry.vertices.push( new THREE.Vector3( - gridDimension, 0, i ) );
			geometry.vertices.push( new THREE.Vector3(   gridDimension, 0, i ) );

			geometry.vertices.push( new THREE.Vector3( i, 0, - gridDimension ) );
			geometry.vertices.push( new THREE.Vector3( i, 0,   gridDimension ) );
		}

		var material = new THREE.LineBasicMaterial( { color: 0x000000, opacity: 0.2, transparent: true } );

		var line = new THREE.Line( geometry, material, THREE.LinePieces );
		scene.add( line );

		raycaster = new THREE.Raycaster();
		mouse = new THREE.Vector2();

		var geometry = new THREE.PlaneBufferGeometry( 1000, 1000 );
		geometry.applyMatrix( new THREE.Matrix4().makeRotationX( - Math.PI / 2 ) );

		plane = new THREE.Mesh( geometry );
		plane.visible = false;
		scene.add( plane );

		objects.push( plane );

		// Lights
		var ambientLight = new THREE.AmbientLight( 0x606060 );
		scene.add( ambientLight );

		var directionalLight = new THREE.DirectionalLight( 0xffffff );
		directionalLight.position.set( -10, 7.5, 10 ).normalize();
		scene.add( directionalLight );

		renderer = new THREE.WebGLRenderer( { antialias: true } );
		renderer.setClearColor( 0xf0f0f0 );
		renderer.setPixelRatio( window.devicePixelRatio );
		renderer.setSize( window.innerWidth, window.innerHeight );
		container.appendChild( renderer.domElement );

        Pulsar.Floorplan.Heatflow.init();
		document.addEventListener( 'mousemove', onDocumentMouseMove, false );
        //document.addEventListener( 'mouseup', onDocumentMouseUp, false );
		//

		window.addEventListener( 'resize', onWindowResize, false );
	}

    function onWindowResize() {
		camera.aspect = window.innerWidth / window.innerHeight;
		camera.updateProjectionMatrix();
		renderer.setSize( window.innerWidth, window.innerHeight );
	}

	function onDocumentMouseMove( event ) {
		event.preventDefault();

		mouse.set( ( event.clientX / window.innerWidth ) * 2 - 1, - ( event.clientY / window.innerHeight ) * 2 + 1 );
		raycaster.setFromCamera( mouse, camera );

        var intersects = raycaster.intersectObjects( scene.children );
        if ( intersects.length > 0 ) {
            if ( intersected != intersects[ 0 ].object ) {
                intersected = intersects[ 0 ].object;
                if (intersected.name) {
                    info.innerHTML = '<p>Name: ' + intersected.name + '</p>';
                } else {
                    info.innerHTML = '';
                }
            }
        }

		render();
	}

    function onDocumentMouseUp(event) {
        event.preventDefault();

        mouse.set( ( event.clientX / window.innerWidth ) * 2 - 1, - ( event.clientY / window.innerHeight ) * 2 + 1 );
        raycaster.setFromCamera( mouse, camera );

        var intersects = raycaster.intersectObjects( scene.children );
        if ( intersects.length > 0 ) {
            if ( intersected != intersects[ 0 ].object ) {
                intersected = intersects[ 0 ].object;

                var gui = new dat.GUI();
                gui.add(intersected, 'name');
                gui.add(intersected, 'position');

            }
        }
        render();
    }

	function render() {
		renderer.render( scene, camera );
	}

    function addBox(position, dimensions, textures, name) {
        cubeGeo = new THREE.BoxGeometry( dimensions.x , dimensions.y , dimensions.z );
        var colorMaterial = new THREE.MeshLambertMaterial({
            color: 0xcad1d8, shading: THREE.FlatShading
        });
        if (textures.front) {
            var frontTexture = THREE.ImageUtils.loadTexture(textures.front);
            frontTexture.minFilter = THREE.LinearFilter;
        }
        if (textures.back) {
            var backTexture = THREE.ImageUtils.loadTexture(textures.back);
            backTexture.minFilter = THREE.LinearFilter;
        }
        if (textures.top) {
            var topTexture = THREE.ImageUtils.loadTexture(textures.top);
            topTexture.minFilter = THREE.LinearFilter;
        }
        var materials = [
            colorMaterial,
            colorMaterial,
            topTexture ? new THREE.MeshLambertMaterial({
                color: 0xcad1d8, shading: THREE.FlatShading,
                map: topTexture
            }) : colorMaterial,
            colorMaterial,
            frontTexture ? new THREE.MeshLambertMaterial({
                color: 0xcad1d8, shading: THREE.FlatShading,
                map: frontTexture
            }) : colorMaterial,
            backTexture ? new THREE.MeshLambertMaterial({
                color: 0xcad1d8, shading: THREE.FlatShading,
                map: backTexture
            }) : colorMaterial
        ];
        cubeMaterial = new THREE.MeshFaceMaterial( materials );

        var voxel = new THREE.Mesh( cubeGeo, cubeMaterial );
        if (name) voxel.name = name;
        position = { x: position.x - gridDimension + dimensions.x / 2, y: position.y + dimensions.y / 2, z: position.z - gridDimension + dimensions.z / 2};
        voxel.position.copy( position );
        scene.add( voxel );
        objects.push( voxel );
        render();
    }

    function addBoxesFromJSON(json) {
        $.each(json.boxes, function(i, box) {
            Pulsar.Floorplan.addBox(box.pos, box.dim, box.textures, box.name);
        });
    }

    this.addBox = addBox;
    this.addBoxesFromJSON = addBoxesFromJSON;
	this.init = init;
	this.render = render;
    this.Heatflow = heatflow;
	return this;
}();